/* ======= RESET ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* ======= GLOBAL VARIABLES ======= */
:root {
  /* FONT SIZES */
  --fs-xs: 0.75rem; /*12px*/
  --fs-s: 1rem; /*16px*/
  --fs-m: 1.5rem; /*24px*/
  --fs-l: 2.75rem; /*44px*/
  --fs-title-small: 2rem; /*32px*/
  --fs-title: 2.5rem; /*40px*/

  /* COLORS */
  --bg: #121212;
  --bg-input: #2e2e2f;
  --bg-icon: #2e2e2f;
  --bg-search: #4b4b4b;
  --text: #ffffff;
  --warning-text: #787878;
  --movie-text: #a5a5a5;

  /* SIZES */
  --input-height: 38px;
  --br: 6px;
}

/* ======= GLOBAL STYLING ======= */
.wrapper {
  width: 60%;
  margin: 0 auto;
}

/* HERO SECTION */
.hero {
  position: relative;
  border: 2px solid red;
  height: 30vh;

  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero-content {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVBAR */
.navbar > ul {
  list-style: none;
}

.navbar a {
  text-decoration: none;
}

/* SEARCH BAR */
.search-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 50%);

  display: flex;
  height: var(--input-height);
}

.search-bar > input {
  flex: 1 1 80%;

  border-radius: var(--br) 0 0 var(--br);
}

.search-bar > button {
  flex: 1 1 20%;
  border-radius: 0 var(--br) var(--br) 0;
}

/* MAIN */
main {
  height: 70vh;
  border: 2px solid orange;
  background-color: var(--bg);
}

/* ======= FONTS ======= */
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

input,
button {
  font-family: inherit;
}

h1,
a {
  color: var(--text);
}
